{{extend './commen/layout.html'}}
{{block 'link'}}
	<link rel="stylesheet" type="text/css" href="/css/article.css"/>
{{/block}}
{{block 'main'}}
	{{include './commen/navigation.html'}}
<div id="value">
	<div class="article-body">
		<div class="head">
			<span class="span-one">文章列表</span>
			<span class="span-two">共{{article.total}}篇</span>
		</div>
		{{each article.records}}
		<div class="article-list" onclick="list({{$value._id}})">
			<img class="img-left" src="{{$value.cover}}" alt="封面" />
			<div class="title">
				<p>{{$value.title}}</p>
				<p>{{$value.brief}}</p>
				<div class="end">
							<span class="photo">
								<img src="/uploads/3.jpg" alt="头像" >
								<i>{{$value.author.username}}</i>
							</span>
					<span class="date">{{dateFormat($value.publishDate,'yyyy-mm-dd')}}</span>
					<span class="Statistics">
								<i class="call" flag="{{@$value._id}}"></i>
								<i>{{comt[$index]}}</i>
								<i class="browse" flag="{{@$value._id}}"></i>
							</span>
				</div>
				<div class="lable">
					{{each $value.label}}
					<i>{{if $index>0}}、{{/if}}{{$value}}</i>
					{{/each}}
				</div>
			</div>
		</div>
		{{/each}}
		<!-- 分页 -->
		<ul class="pagination">
			{{if article.page>1}}
			<li class="left" onclick="change({{article.page-1}})">
				&laquo;
			</li>
			{{/if}}
			{{each article.display}}
			<li class="center {{if $value==1}}bg{{/if}}" flag="{{$value}}" onclick="change({{$value}})">{{$value}}</li>
			{{/each}}
			{{if article.page<article.pages}}
			<li class="right" onclick="change({{article.page-0+1}})">
				&raquo;
			</li>
			{{/if}}
		</ul>
		<!-- /分页 -->
	</div>
	<div class="navigation-body">
		<div class="head">
			<input class="suo" type="text" name="" id="" value="" placeholder="请输入文章关键词搜索"/>
			<button type="button" class="search"></button>
		</div>
		<div class="category">
			<div class="category_one">
				<span>文章分类</span>
			</div>
			<div class="category_two">
				{{each ctg}}
				    <span class="cls">{{$value}}</span>
				{{/each}}
			</div>
		</div>
		<div class="lable">
			<div class="lable_one">
				<span>文章标签</span>
			</div>
			<div class="lable_two">
				{{each lab}}
				<span>{{$value}}</span>
				{{/each}}
			</div>
		</div>
		<div class="lately">
			<div class="lately_one">
				<span>最近文章</span>
			</div>
			<div class="lately_two">
				<p onclick="list({{article.records[0]._id}})">{{article.records[0].title}}<span>{{dateFormat(article.records[0].publishDate,'yyyy-mm-dd')}}</span></p>
		</div>
		</div>
		<div class="audio">
			<div class="audio_one">
				<span>音乐鉴赏</span>
			</div>
			<div class="audio_two" >
				<audio controls style="outline: none">
					<source src="/music/you.mp3" type="audio/mpeg">
					当前浏览器不支持audio
				</audio>
			</div>
		</div>
	</div>
</div>
{{/block}}
{{block 'script'}}
<script type="text/javascript" src="/js/article.js"></script>
<script type="text/javascript">
	//简介超出字数隐藏
	$(function(){
		var len = $(".title p:eq(1)").text().length;
		if(len>30){
			var str = "";
			str = $(".title p:eq(1)").text().substring(0,30)+"......";//使用字符串截取,获取前30个字符,多余的字符使用“......”代替
			$(".title p:eq(1)").html(str);//将替换的值赋值给当前对象
		}
	})
</script>
{{/block}}