{{extend './commen/layout.html'}}
{{block 'link'}}
<link rel="stylesheet" type="text/css" href="/css/leavemessage.css"/>
{{/block}}
{{block 'main'}}
{{include './commen/navigation.html'}}
	<div class="body">
		<div class="marquee">
			<marquee><font size=3 color=sskyblue>给站长留下宝贵的意见吧-v-</font></marquee>
		</div>
		<div class="text">
			<textarea class="textarea" maxlength="100" rows="2" placeholder="说点啥吧..."></textarea>
			<button type="button" class="but">发表</button>
			<i>0/100</i>
		</div>
		<div class="list">
			{{each leavemessage.records}}
			<div class="content">
				<img src="{{$value.uid.portrait}}" ><i class="name">{{$value.uid.username}}</i><span>{{dateFormat($value.time,'yyyy-mm-dd HH:MM:ss')}}</span><span>{{total>0 ? total-- : 0}}楼</span>
				<p><i>{{$value.content}}</i>{{if userInfo}}{{if userInfo.role==='admin'}}<button class="del" onclick="del({{$value._id}})">删除</button>{{/if}}{{/if}}</p>
			</div>
			{{/each}}
			<!-- 分页 -->
			<ul class="pagination">
				{{if leavemessage.page>1}}
				<li class="left" onclick="change({{leavemessage.page-1}})">
					&laquo;
				</li>
				{{/if}}
				{{each leavemessage.display}}
				<li class="center {{if $value==1}}bg{{/if}}" flag="{{$value}}" onclick="change({{$value}})">{{$value}}</li>
				{{/each}}
				{{if leavemessage.page<leavemessage.pages}}
				<li class="right" onclick="change({{leavemessage.page-0+1}})">
					&raquo;
				</li>
				{{/if}}
			</ul>
			<!-- /分页 -->
		</div>
	</div>
{{/block}}
{{block 'script'}}
<script src="/js/leavemessage.js"></script>
<script type="text/javascript">

</script>
{{/block}}
