{{extend './commen/layout.html'}}
{{block 'link'}}
<link rel="stylesheet" type="text/css" href="/css/photos.css"/>
{{/block}}
{{block 'main'}}
	{{include './commen/navigation.html'}}
	<div class="body">
		<div class="one">
			<img src="/image/nier/1.jpg" alt="尼尔机械纪元">
			<p>尼尔机械纪元</p>
		</div>
		<div class="two">
			<img src="/image/re0/1.jpg" alt="蕾姆">
			<p>re0蕾姆</p>
		</div>
		<div class="there">
			<img src="/image/alm/1.jpg" >
			<p>埃罗芒老师</p>
		</div>
		<div class="four">
			<img src="/image/yz/1.jpg" >
			<p>玉子的爱情故事</p>
		</div>
		<div class="five">
			<img src="/image/ren/1.jpg" >
			<p>物语系列小忍</p>
		</div>
		<div class="six">
			<img src="/image/ysn/1.jpg" >
			<p>刀剑神域亚丝娜</p>
		</div>
		<div class="seven">
			<img src="/image/sh/1.jpg" >
			<p>散华礼弥</p>
		</div>
		<div class="eight">
			<img src="/image/hm/1.jpg" >
			<p>俺妹妹不可能那么可爱黑猫</p>
		</div>
		<div class="nine">
			<img src="/image/kn/1.jpg" >
			<p>康娜</p>
		</div>
	</div>
{{/block}}
{{block 'script'}}
<script src="/js/photos.js"></script>
<script type="text/javascript">

</script>
{{/block}}